.git
.github
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
node_modules/
web/node_modules/
web/dist/
_design_import/
exports/
*.zip
cookies.txt
facebook_marketplace/chrome_profile/
facebook_marketplace/williams/
facebook_marketplace/menos20k@gmail.com/
